#sidebar {
	width: 478px;
	position: fixed;
	top: 0;
	right: -478px;
	height: 100vh;
	z-index: 999;
	background:$white;
	color:$white;
	transition: all 0.3s;
	overflow-y: scroll;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	&.active {
		right: 0;
	}
	.sidebar-header {
		padding: 30px 20px;
		background: $white;
    position: relative;
	}
	ul {
		&.components {
			padding: 20px 0;
			border-bottom: 1px solid #47748b;
		}
		p {
			color: #fff;
			padding: 10px;
		}
		li {
			a {
				padding: 10px;
				font-size: 1.1em;
				display: block;
				&:hover {
					color: #7386D5;
					background: #fff;
				}
			}
		}
	}
}
#dismiss {
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	position: absolute;
  top: 25px;
	right: 10px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	&:hover {
		color: #7386D5;
	}

}
.dismiss{
  position: inherit !important;
}
ul.sideNav-btn {
  position: fixed;
  width: 100%;
  bottom: 0px;
  a.weight-normal.btn {
    padding: 14px 34px !important;
	}
}
.overlay {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 998;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	&.active {
		display: block;
		opacity: 1;
	}
}

