.accountSec {
    .accountSecInner {
        @include min(992px) {
            @include dFlex;
        }
    }
    .accountSecNav {
        @include min(992px) {
            width: 300px;
            border-right: 1px solid var(--border-2);
        }
    }
    .accountSecContent {
        @include min(992px) {
            width: -webkit-calc(100% - 300px);
            width: calc(100% - 300px);
            padding-left: 2.375rem;
        }
    }
    .account-heading
    ,.ac-overview
    {
        border-bottom: 1px solid var(--border-2);
        .btn{
            svg{
                margin-right: 5px;
                path{
                    fill: var(--gray-3);
                }
            }
            &:hover, &:focus{
                svg{
                    path{
                        fill: $white;
                    }
                }
            }
        }
    }
    .social-box {
        width: 100%;
        padding: 1.4rem;
        border: 1px solid var(--border-4);
        float: left;
        img {
            float: left;
        }
        p {
            float: left;
            display: inline-block;
            padding: 0px 15px;
        }
        .btn {
            float: right;
        }
    }
}

.accountnav {
    margin: 0;
    li {
        display: block;
        &:not(:last-child) {
            margin-bottom: 2.1875rem;
        }
        a {
            display: block;
            font-size: .888rem;
            @include var(color, gray-3);
            svg, img{
                margin-right: 11px;
                path{
                    fill: var(--gray-3);
                }
            }
            &:hover {
                @include var(color, primary-4);
                position: relative;
                &:after{
                    content: "";
                    position:absolute;
                    width: 2px;
                    height: 26px;
                    right: -1px;
                    @include var(background-color, primary-4);
                }
                svg{
                    path{
                        fill: var(--primary-4);
                    }
                }
            }
            &.active {
                @include var(color, primary-4);
                position: relative;
                &:after{
                    content: "";
                    position:absolute;
                    width: 2px;
                    height: 26px;
                    right: -1px;
                    @include var(background-color, primary-4);
                }
                svg{
                    path{
                        fill: var(--primary-4);
                    }
                }
            }
        }
    }
}
.accountCard {
    display: inline-block;
    padding: 1.875rem;
    border-radius: 0.625rem;
    border: 1px solid transparent;
    @include transition;
    color: inherit;
    width: 100%;
    margin-bottom: 1.25rem;
    box-sizing: border-box;
    @include min(768px) {
        width: 100%;
        max-width: 370px;
    }
    &:hover {
        box-shadow: 0px 0px 30px rgba($black, 0.04);
        border-color: var(--border-1);
        color: inherit;
    }
    .accountCardTop {
        @include dFlex;
        justify-content: space-between;
    }
}

.accountSecNavDropdown {
    display: inline-block;
    .dropdown-toggle {
        width: 30px;
        &:after {
            display: none;
        }
        .iconsClose {
            display: none;
        }
        &.show {
            .iconsOpen {
                display: none;
            }
            .iconsClose {
                display: block;
            }
        }
    }
    .dropdown-menu {
        top: 100% !important;
        transform: unset !important;
        inset: unset !important;
        left: -1.5rem !important;
        width: 100vw;
        background-color: var(--white);
        border: 1px solid var(--border-2);
        border-top: 0;
        box-sizing: border-box;
        // box-shadow: 0px 14px 74px rgba($black, 0.15);
        box-shadow: 0px 14px 14px rgba($black, 0.15);
        border-radius: 0px;
        margin: 1.5rem 0 0 !important;
        li {
            display: block;
            border-top: 1px solid var(--border-2);
            background-color: transparent;
            a {
                display: block;
                padding: 1.5rem;
                color: var(--primary-1);
                font-weight: $fontNormal;
                &.active {
                    font-weight: $fontMedium;
                    background-color: var(--border-1);
                }
            }
            // &.active {
            //     background-color: var(--border-1);
            //     a {
            //         font-weight: $fontMedium;
            //         background-color: var(--border-1);
            //     }
            // }
        }
    }
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }