.custom-dropdown {
    padding: 0px;
    margin: 0px;
    min-width: 190px;
    li {
        width: 100%;
        padding: 0px;
        margin: 0px;
        &:not(:last-child){
            border-bottom: 1px solid #e9eaec;
        }
        a{
            padding: 10px 15px; 
            font-size: 15px;
        }
    }
}
.main-nav{
    position: relative;
    li{
        a{
            font-size: .67rem !important;
            color: var(--gray-2);
            @include min(991px) {
                 padding: 0rem 1rem !important;
            }
            &:hover{
                color: var(--primary-3);
            }
        }   
    }
}
.divader-left{
    @include min(991px) {
        position: relative;
        &:after{
            content: "";
            position: absolute;
            width: 1px;
            height: 20px;
            background-color: #DCDCDC;
            left: -30px;
            top: 13px;
        }
    }
}

li.nav-item.dropdown {
	&:hover {
		ul.dropdown-menu.custom-dropdown {
			display: block;
		}
	}
}
