@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,200;0,300;0,500;0,600;0,700;1,100;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap");
.text-white {
  color: #ffffff !important;
}

.text-white circle {
  fill: #ffffff !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.text-black {
  color: #000000 !important;
}

.text-black circle {
  fill: #000000 !important;
}

.bg-black {
  background-color: #000000 !important;
}

.text-primary-1 {
  color: #483D8F !important;
}

.text-primary-1 circle {
  fill: #483D8F !important;
}

.bg-primary-1 {
  background-color: #483D8F !important;
}

.text-primary-2 {
  color: #443EAF !important;
}

.text-primary-2 circle {
  fill: #443EAF !important;
}

.bg-primary-2 {
  background-color: #443EAF !important;
}

.text-primary-3 {
  color: #FF6A46 !important;
}

.text-primary-3 circle {
  fill: #FF6A46 !important;
}

.bg-primary-3 {
  background-color: #FF6A46 !important;
}

.text-primary-4 {
  color: #FF8369 !important;
}

.text-primary-4 circle {
  fill: #FF8369 !important;
}

.bg-primary-4 {
  background-color: #FF8369 !important;
}

.text-primary-5 {
  color: #3088CA !important;
}

.text-primary-5 circle {
  fill: #3088CA !important;
}

.bg-primary-5 {
  background-color: #3088CA !important;
}

.text-primary-6 {
  color: #DCDCDC !important;
}

.text-primary-6 circle {
  fill: #DCDCDC !important;
}

.bg-primary-6 {
  background-color: #DCDCDC !important;
}

.text-primary-7 {
  color: #f7f7f7 !important;
}

.text-primary-7 circle {
  fill: #f7f7f7 !important;
}

.bg-primary-7 {
  background-color: #f7f7f7 !important;
}

.text-primary-8 {
  color: #e5e5e5 !important;
}

.text-primary-8 circle {
  fill: #e5e5e5 !important;
}

.bg-primary-8 {
  background-color: #e5e5e5 !important;
}

.text-primary-9 {
  color: #2B2B7D !important;
}

.text-primary-9 circle {
  fill: #2B2B7D !important;
}

.bg-primary-9 {
  background-color: #2B2B7D !important;
}

.text-secondary-1 {
  color: #d4ceff !important;
}

.text-secondary-1 circle {
  fill: #d4ceff !important;
}

.bg-secondary-1 {
  background-color: #d4ceff !important;
}

.text-secondary-2 {
  color: #5849ff !important;
}

.text-secondary-2 circle {
  fill: #5849ff !important;
}

.bg-secondary-2 {
  background-color: #5849ff !important;
}

.text-secondary-3 {
  color: #f6e8ff !important;
}

.text-secondary-3 circle {
  fill: #f6e8ff !important;
}

.bg-secondary-3 {
  background-color: #f6e8ff !important;
}

.text-secondary-4 {
  color: #19284e !important;
}

.text-secondary-4 circle {
  fill: #19284e !important;
}

.bg-secondary-4 {
  background-color: #19284e !important;
}

.text-secondary-5 {
  color: #2d2b6e !important;
}

.text-secondary-5 circle {
  fill: #2d2b6e !important;
}

.bg-secondary-5 {
  background-color: #2d2b6e !important;
}

.text-secondary-6 {
  color: #f3f6fc !important;
}

.text-secondary-6 circle {
  fill: #f3f6fc !important;
}

.bg-secondary-6 {
  background-color: #f3f6fc !important;
}

.text-secondary-7 {
  color: #fff5f8 !important;
}

.text-secondary-7 circle {
  fill: #fff5f8 !important;
}

.bg-secondary-7 {
  background-color: #fff5f8 !important;
}

.text-secondary-8 {
  color: #e0ebff !important;
}

.text-secondary-8 circle {
  fill: #e0ebff !important;
}

.bg-secondary-8 {
  background-color: #e0ebff !important;
}

.text-secondary-9 {
  color: #edebfc !important;
}

.text-secondary-9 circle {
  fill: #edebfc !important;
}

.bg-secondary-9 {
  background-color: #edebfc !important;
}

.text-secondary-10 {
  color: #373478 !important;
}

.text-secondary-10 circle {
  fill: #373478 !important;
}

.bg-secondary-10 {
  background-color: #373478 !important;
}

.text-secondary-11 {
  color: #f7f7fd !important;
}

.text-secondary-11 circle {
  fill: #f7f7fd !important;
}

.bg-secondary-11 {
  background-color: #f7f7fd !important;
}

.text-secondary-12 {
  color: #dafff3 !important;
}

.text-secondary-12 circle {
  fill: #dafff3 !important;
}

.bg-secondary-12 {
  background-color: #dafff3 !important;
}

.text-secondary-13 {
  color: #ffd2cb !important;
}

.text-secondary-13 circle {
  fill: #ffd2cb !important;
}

.bg-secondary-13 {
  background-color: #ffd2cb !important;
}

.text-secondary-14 {
  color: #e9e9ff !important;
}

.text-secondary-14 circle {
  fill: #e9e9ff !important;
}

.bg-secondary-14 {
  background-color: #e9e9ff !important;
}

.text-secondary-15 {
  color: #45438f !important;
}

.text-secondary-15 circle {
  fill: #45438f !important;
}

.bg-secondary-15 {
  background-color: #45438f !important;
}

.text-secondary-16 {
  color: #ecd5ff !important;
}

.text-secondary-16 circle {
  fill: #ecd5ff !important;
}

.bg-secondary-16 {
  background-color: #ecd5ff !important;
}

.text-secondary-17 {
  color: #9997c3 !important;
}

.text-secondary-17 circle {
  fill: #9997c3 !important;
}

.bg-secondary-17 {
  background-color: #9997c3 !important;
}

.text-secondary-18 {
  color: #f88e61 !important;
}

.text-secondary-18 circle {
  fill: #f88e61 !important;
}

.bg-secondary-18 {
  background-color: #f88e61 !important;
}

.text-secondary-19 {
  color: #fe4a4a !important;
}

.text-secondary-19 circle {
  fill: #fe4a4a !important;
}

.bg-secondary-19 {
  background-color: #fe4a4a !important;
}

.text-secondary-20 {
  color: #f94144 !important;
}

.text-secondary-20 circle {
  fill: #f94144 !important;
}

.bg-secondary-20 {
  background-color: #f94144 !important;
}

.text-secondary-21 {
  color: #f3722c !important;
}

.text-secondary-21 circle {
  fill: #f3722c !important;
}

.bg-secondary-21 {
  background-color: #f3722c !important;
}

.text-secondary-22 {
  color: #f8961e !important;
}

.text-secondary-22 circle {
  fill: #f8961e !important;
}

.bg-secondary-22 {
  background-color: #f8961e !important;
}

.text-secondary-23 {
  color: #f9c74f !important;
}

.text-secondary-23 circle {
  fill: #f9c74f !important;
}

.bg-secondary-23 {
  background-color: #f9c74f !important;
}

.text-secondary-24 {
  color: #90be6d !important;
}

.text-secondary-24 circle {
  fill: #90be6d !important;
}

.bg-secondary-24 {
  background-color: #90be6d !important;
}

.text-gray-1 {
  color: #2B2F32 !important;
}

.text-gray-1 circle {
  fill: #2B2F32 !important;
}

.bg-gray-1 {
  background-color: #2B2F32 !important;
}

.text-gray-2 {
  color: #404243 !important;
}

.text-gray-2 circle {
  fill: #404243 !important;
}

.bg-gray-2 {
  background-color: #404243 !important;
}

.text-gray-3 {
  color: #7A7A7A !important;
}

.text-gray-3 circle {
  fill: #7A7A7A !important;
}

.bg-gray-3 {
  background-color: #7A7A7A !important;
}

.text-gray-4 {
  color: #DCDCDC !important;
}

.text-gray-4 circle {
  fill: #DCDCDC !important;
}

.bg-gray-4 {
  background-color: #DCDCDC !important;
}

.text-gray-5 {
  color: #F9F9F9 !important;
}

.text-gray-5 circle {
  fill: #F9F9F9 !important;
}

.bg-gray-5 {
  background-color: #F9F9F9 !important;
}

.text-gray-6 {
  color: #ffffff !important;
}

.text-gray-6 circle {
  fill: #ffffff !important;
}

.bg-gray-6 {
  background-color: #ffffff !important;
}

.text-gray-7 {
  color: #F6F7FC !important;
}

.text-gray-7 circle {
  fill: #F6F7FC !important;
}

.bg-gray-7 {
  background-color: #F6F7FC !important;
}

.text-border-1 {
  color: #f5f5f5 !important;
}

.text-border-1 circle {
  fill: #f5f5f5 !important;
}

.bg-border-1 {
  background-color: #f5f5f5 !important;
}

.text-border-2 {
  color: #e3e3e3 !important;
}

.text-border-2 circle {
  fill: #e3e3e3 !important;
}

.bg-border-2 {
  background-color: #e3e3e3 !important;
}

.text-border-3 {
  color: #333333 !important;
}

.text-border-3 circle {
  fill: #333333 !important;
}

.bg-border-3 {
  background-color: #333333 !important;
}

.text-border-4 {
  color: #3d3b7f !important;
}

.text-border-4 circle {
  fill: #3d3b7f !important;
}

.bg-border-4 {
  background-color: #3d3b7f !important;
}

.text-border-5 {
  color: #cccccc !important;
}

.text-border-5 circle {
  fill: #cccccc !important;
}

.bg-border-5 {
  background-color: #cccccc !important;
}

.color-border-1 {
  border-color: #f5f5f5 !important;
}

.color-border-2 {
  border-color: #e3e3e3 !important;
}

.color-border-3 {
  border-color: #333333 !important;
}

.color-border-4 {
  border-color: #3d3b7f !important;
}

.bg-gradient-chill {
  background: linear-gradient(128.46deg, #22226D 14.45%, #141436 108.32%);
}

.bg-gradient-warm {
  background: linear-gradient(14deg, #22226D 14.45%, #141436 108.32%);
}

.bg-gradient-hot {
  background: linear-gradient(303deg, #141436 18.03%, #22226D 103.84%);
}

.bg-gradient-angle-243 {
  background: linear-gradient(243deg, #141436 18.03%, #22226D 103.84%);
}

.bg-gradient-any-question {
  background: linear-gradient(128.46deg, #22226D 14.45%, #141436 108.32%);
}

.bg-gradient-angle-145 {
  background: linear-gradient(154deg, #22226D 14.45%, #141436 108.32%);
}

@-webkit-keyframes moveDown {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes moveUp {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

html {
  font-size: 16px;
}

@media (min-width: 1601px) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #2B2F32;
  font-weight: 400 !important;
}

.heading-lg {
  font-size: 2.25rem;
}

@media (min-width: 768px) {
  .heading-lg {
    font-size: 2.625rem;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
  color: #434343;
  font-weight: 600 !important;
  font-family: "Archivo", sans-serif;
}

h1,
.h1 {
  font-size: 1.75rem;
}

@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 2rem;
  }
}

h2,
.h2 {
  font-size: 1.566rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.3125rem;
}

h5,
.h5 {
  font-size: 1.125rem;
}

h6,
.h6 {
  font-size: 0.875rem;
}

.heading-h1 {
  font-size: 2.67rem;
  font-weight: 700 !important;
}

.text-h1 {
  font-size: 2.15rem;
}

p {
  line-height: 1.5em;
}

.text-xs {
  font-size: .67rem !important;
  line-height: normal;
}

.text-sm {
  font-size: 0.78rem;
}

.text-md {
  font-size: 0.875rem;
}

.text-lg {
  font-size: .888rem;
}

.text-xl {
  font-size: 1.125rem;
}

.weight-100 {
  font-weight: 100 !important;
}

.weight-200 {
  font-weight: 200 !important;
}

.weight-300 {
  font-weight: 300 !important;
}

.weight-400 {
  font-weight: 400 !important;
}

.weight-500 {
  font-weight: 500 !important;
}

.weight-600 {
  font-weight: 600 !important;
}

.weight-700 {
  font-weight: 700 !important;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --primary-1: #483D8F;
  --primary-2: #443EAF;
  --primary-3: #FF6A46;
  --primary-4: #FF8369;
  --primary-5: #3088CA;
  --primary-6: #DCDCDC;
  --primary-7: #f7f7f7;
  --primary-8: #e5e5e5;
  --primary-9: #2B2B7D;
  --secondary-1: #d4ceff;
  --secondary-2: #5849ff;
  --secondary-3: #f6e8ff;
  --secondary-4: #19284e;
  --secondary-5: #2d2b6e;
  --secondary-6: #f3f6fc;
  --secondary-7: #fff5f8;
  --secondary-8: #e0ebff;
  --secondary-9: #edebfc;
  --secondary-10: #373478;
  --secondary-11: #f7f7fd;
  --secondary-12: #dafff3;
  --secondary-13: #ffd2cb;
  --secondary-14: #e9e9ff;
  --secondary-15: #45438f;
  --secondary-16: #ecd5ff;
  --secondary-17: #9997c3;
  --secondary-18: #f88e61;
  --secondary-19: #fe4a4a;
  --secondary-20: #f94144;
  --secondary-21: #f3722c;
  --secondary-22: #f8961e;
  --secondary-23: #f9c74f;
  --secondary-24: #90be6d;
  --gray-1: #2B2F32;
  --gray-2: #404243;
  --gray-3: #7A7A7A;
  --gray-4: #DCDCDC;
  --gray-5: #F9F9F9;
  --gray-6: #ffffff;
  --gray-7: #F6F7FC;
  --border-1: #f5f5f5;
  --border-2: #e3e3e3;
  --border-3: #333333;
  --border-4: #3d3b7f;
  --border-5: #cccccc;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: unset !important;
  }
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 1.2em;
}

@media (max-width: 991px) {
  body.menuOpen {
    overflow: hidden;
  }
}

main,
.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-shadow: inset 0 140px 0 var(--primary-1);
          box-shadow: inset 0 140px 0 var(--primary-1);
  padding-top: 85px;
}

@media (min-width: 1200px) {
  main,
  .main {
    padding-top: 128px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 75rem;
  }
}

@media (max-width: 1200px) {
  .container {
    padding-right: var(--bs-gutter-x, 1.5rem);
    padding-left: var(--bs-gutter-x, 1.5rem);
    max-width: 100%;
  }
}

.section {
  position: relative;
  padding: 3.125rem 0;
}

@media (min-width: 1200px) {
  .section {
    padding: 5rem 0;
  }
}

.section-sm {
  padding: 3.5rem 0;
  position: relative;
}

img,
svg {
  max-width: 100%;
}

ul li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #483D8F;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.defaultContent h2,
.defaultContent h3,
.defaultContent h4 {
  margin: 0 0 0.875rem;
}

.defaultContent img {
  margin: 3.5rem 0;
  display: inherit;
}

.defaultContent p {
  margin: 0 0 2.0625rem;
}

.defaultContent p + h2 {
  margin-top: 3.5rem;
}

.scrollSection {
  position: relative;
}

.scrollSection .scrollTarget {
  opacity: 0;
  visibility: 0;
  position: absolute;
  top: -100px;
}

.slick-dots {
  width: 100%;
  text-align: center;
  padding: 2.5rem 0 0;
}

.slick-dots li {
  width: 1.875rem;
  height: 0.1875rem;
  overflow: hidden;
  background-color: var(--secondary-15);
  margin: 0 0.3125rem;
  position: relative;
  border-radius: 0.1875rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slick-dots li button {
  opacity: 0;
  width: 1000%;
  height: 100%;
  visibility: hidden;
}

.slick-dots li.slick-active {
  background-color: var(--primary-3);
  width: 0.9375rem;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 6.25rem;
}

.formItm {
  margin-bottom: .5rem;
  position: relative;
  padding-top: 1.25rem;
}

@media (min-width: 1400px) {
  .formItm {
    margin-bottom: 1rem;
  }
}

.formItm label {
  width: 100%;
  color: #7A7A7A;
  position: absolute;
  left: 0;
  top: 1.6rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.formItm input,
.formItm select {
  width: 100%;
  padding: 0.3125rem 0 0.625rem;
  outline: 0;
  color: #404243;
  border: 0;
  border-bottom: 1px solid var(--primary-6);
  font-size: 14px;
}

.formItm input:not(:placeholder-shown) + label, .formItm input:valid + label, .formItm input:focus + label,
.formItm select:not(:placeholder-shown) + label,
.formItm select:valid + label,
.formItm select:focus + label {
  top: 0;
}

.formItm input:focus,
.formItm select:focus {
  border-color: var(--primary-2);
}

.formItm input::-webkit-input-placeholder,
.formItm select::-webkit-input-placeholder {
  opacity: 0;
  color: transparent;
}

.formItm input:-ms-input-placeholder,
.formItm select:-ms-input-placeholder {
  opacity: 0;
  color: transparent;
}

.formItm input::-ms-input-placeholder,
.formItm select::-ms-input-placeholder {
  opacity: 0;
  color: transparent;
}

.formItm input::placeholder,
.formItm select::placeholder {
  opacity: 0;
  color: transparent;
}

.formItm input#yourBusiness,
.formItm select#yourBusiness {
  font-weight: 600;
  color: #2B2F32;
}

.formItm.formItmPasswordView:hover button svg path {
  fill: var(--gray-1);
}

.formItm.formItmPasswordView input {
  padding-right: 1.875rem;
}

.formItm.formItmPasswordView button {
  position: absolute;
  top: 1rem;
  right: 0;
  z-index: 1;
  padding: 0.5rem 0;
}

.formItm.formItmPasswordView button svg.hidepass {
  display: none;
}

.formItm.formItmPasswordView.active button svg.showpass {
  display: none;
}

.formItm.formItmPasswordView.active button svg.hidepass {
  display: inline-block;
}

.formItm.formItmAct select {
  padding: 0;
  border: 0;
  outline: 0;
  padding-right: 0.5rem;
  border-right: 1px solid var(--border-2);
  position: absolute;
  left: 0;
  top: 1.5rem;
  background-color: transparent;
  width: auto;
  background-position-x: calc(100% - 0.5rem);
}

.formItm.formItmAct input {
  width: 100%;
  padding: 0.3125rem 0 0.625rem 4.5rem;
  outline: 0;
  color: #483D8F;
  border: 0;
  border-bottom: 1px solid var(--primary-6);
  font-size: 14px;
}

.formItm.formItmAct input ~ label {
  top: 0;
}

.formItm.formItmAct input:focus {
  border-color: var(--primary-2);
}

.checkList {
  padding: 0;
  margin: 0;
}

.checkList > li {
  display: block;
  padding: 0 0 0 1.25rem;
  margin: 0;
  list-style: none;
  position: relative;
  background-image: url(../images/checkListIcon.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 0.3125rem;
}

.checkList > li:not(:last-child) {
  margin-bottom: 0.75rem;
}

.accordion-button {
  word-break: break-all;
}

.customNav {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--border-1);
  width: 100%;
}

.customNav li:not(:last-child) {
  margin-right: 1.875rem;
}

.customNav li a {
  padding: 0 0 0.6875rem;
  color: var(--baseText);
  position: relative;
}

.customNav li a:after {
  content: "";
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  width: 0;
  margin: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.customNav li a.active {
  color: var(--primary-2);
  font-weight: 700 !important;
}

.customNav li a.active:after {
  background-color: var(--primary-2);
  width: 100%;
}

.datePickerInput {
  background-image: url(../images/datepickerIcon.png);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 2rem !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 2rem !important;
  background-image: url(../images/selectArrow.png);
  background-repeat: no-repeat;
  background-position: right center;
}

@media (min-width: 768px) {
  .table.tableDefault {
    border: 1px solid var(--border-2);
  }
}

@media (max-width: 767px) {
  .table.tableDefault tr {
    display: block;
    border: 1px solid var(--border-2);
    border-radius: 0.625rem;
  }
  .table.tableDefault tr:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.table.tableDefault th,
.table.tableDefault td {
  padding: 0.8125rem 1.25rem;
  border: 1px solid var(--border-2);
  border-left: 0;
  border-right: 0;
}

@media (max-width: 767px) {
  .table.tableDefault th,
  .table.tableDefault td {
    border-top: 0;
    display: block;
    width: 100%;
    text-align: right;
    position: relative;
    vertical-align: top;
  }
  .table.tableDefault th:last-child,
  .table.tableDefault td:last-child {
    border-bottom: 0;
  }
  .table.tableDefault th:before,
  .table.tableDefault td:before {
    content: attr(data-title);
    text-align: left;
    width: 50%;
    float: left;
    font-weight: 700 !important;
  }
}

@media (max-width: 767px) {
  .table.tableDefault thead {
    display: none;
  }
}

.table.tableDefault thead th {
  background-color: var(--gray-4);
  border-bottom: 0;
  text-transform: capitalize;
  letter-spacing: 0.1em;
}

.flexGrow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.drop-shadow {
  -webkit-box-shadow: 0px 0px 60px #eaeaea;
  box-shadow: 0px 0px 60px #eaeaea;
  position: relative;
  z-index: 1;
}

.page-shadow {
  -webkit-box-shadow: 0px 0px 60px #ccc;
  box-shadow: 0px 0px 60px #ccc;
}

.h-100vh {
  height: 100vh;
}

.h-90vh {
  height: 90vh;
}

.h-80vh {
  height: 80vh;
}

.br12 {
  border-radius: 12px;
}

.curve-bg {
  background-image: url("../images/onBoarding/curves.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
}

.wtermarklogo {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.wtermarklogo img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: .2;
}

.custom-dropdown {
  padding: 0px;
  margin: 0px;
  min-width: 190px;
}

.custom-dropdown li {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.custom-dropdown li:not(:last-child) {
  border-bottom: 1px solid #e9eaec;
}

.custom-dropdown li a {
  padding: 10px 15px;
  font-size: 15px;
}

.loginSec {
  height: 92vh;
  margin: 4vh;
  border-radius: 12px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 60px #ccc;
          box-shadow: 0px 0px 60px #ccc;
}

@media (min-width: 992px) {
  .loginSec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.loginSec .privacy-terms-links a {
  color: #7A7A7A;
}

.loginSec .privacy-terms-links a:hover {
  color: #404243;
}

.loginSec .privacy-terms-links p {
  color: #7A7A7A;
}

.loginSecItm {
  height: 92vh;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 0 2rem;
}

@media (min-width: 1199px) {
  .loginSecItm {
    height: 92vh;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    padding: 0 3rem;
  }
}

@media (max-width: 992px) {
  .loginSecItm {
    padding-bottom: 6rem;
  }
}

.loginSecItm .loginSecItmTop {
  padding: 2.8rem 0;
}

@media (min-width: 1400px) {
  .loginSecItm .loginSecItmTop {
    padding: 3.8rem 0;
  }
}

.loginSecItm .loginSecItmTop.loginSecItmTop-right {
  padding: 2.4rem 0rem !important;
}

.loginSecItm .loginSecItmTop.loginSecItmTop-right a.btn {
  margin-left: 10px;
}

.loginSecItm .loginSecItmContent {
  padding: 1.875rem 0;
}

@media (min-width: 992px) {
  .loginSecItm .loginSecItmContent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: auto;
  }
}

.loginSecItm .loginSecItmBottom {
  height: 57px;
  min-height: 57px;
}

@media (min-width: 992px) {
  .loginSecItm .loginSecItmBottom {
    position: absolute;
    right: 60px;
    bottom: 0px;
  }
}

.loginSecItm .loginSecItmTop,
.loginSecItm .loginSecItmBottom {
  display: none;
}

@media (min-width: 992px) {
  .loginSecItm .loginSecItmTop,
  .loginSecItm .loginSecItmBottom {
    display: block;
  }
}

.loginSecLeft {
  background-image: url("../images/onBoarding/left-section-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #483D8F;
  color: #ffffff;
  display: none;
}

@media (min-width: 992px) {
  .loginSecLeft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
  }
}

@media (min-width: 1400px) {
  .loginSecLeft {
    width: 30%;
  }
}

.loginSecLeft:after {
  background-color: var(--border-4);
}

.loginSecLeft .loginSecItmContent img {
  max-height: 100%;
  max-width: 85%;
  width: auto;
  height: auto;
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .loginSecLeft .loginSecItmContent img {
    max-width: 90%;
  }
}

@media (min-width: 1600px) {
  .loginSecLeft .loginSecItmContent img {
    max-width: 100%;
  }
}

.login-left-bottom {
  position: absolute;
  bottom: 80px;
  padding-right: 3rem;
}

@media (max-width: 1200px) {
  .login-left-bottom {
    padding-right: 1rem;
  }
}

.login-left-bottom .loginSecLeftImg {
  margin: 0px;
  padding: 15px 5px;
}

.login-left-bottom .loginSecLeftImg img {
  min-width: 210px;
}

@media (max-width: 1200px) {
  .login-left-bottom .loginSecLeftImg img {
    min-width: 80%;
  }
}

.login-left-bottom .login-left-text h5 {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 26px;
}

.login-left-bottom .login-left-text p {
  margin: 15px 0px;
  opacity: .7;
  font-weight: 100;
}

.privacy-terms-links p {
  float: right;
  text-align: left;
  line-height: 16px;
}

.privacy-terms-links p a {
  font-weight: 600;
}

.privacy-terms-links img {
  display: inline-block;
  margin: 4px 6px;
}

.line-bg {
  background-image: url("../images/line-bg.svg");
  background-position: bottom left;
  background-repeat: repeat-x;
}

.loginSecRight {
  background-image: url("../images/onBoarding/curves.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
  background-color: #ffffff;
}

@media (min-width: 992px) {
  .loginSecRight {
    width: calc(100% - 30%);
    padding-left: 5rem;
    padding-right: 2.4rem;
  }
}

@media (min-width: 1400px) {
  .loginSecRight {
    width: calc(100% - 30%);
    padding-left: 7.75rem;
    padding-right: 2.4rem;
  }
}

.loginSecRight .loginSecItmContent {
  padding: 2rem 0 2rem;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .loginSecRight .loginSecItmContent {
    overflow: hidden;
    overflow-y: auto;
    padding: 0rem 0;
    padding-left: 15px;
  }
}

@media (min-width: 1400px) {
  .loginSecRight .loginSecItmContent {
    padding: 3rem 0;
    padding-left: 15px;
  }
}

@media (min-width: 1600px) {
  .loginSecRight .loginSecItmContent {
    padding: 4.375rem 0;
    padding-left: 15px;
  }
}

.formActions {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1400px) {
  .formActions {
    margin-top: 3.75rem;
  }
}

@media (max-width: 991px) {
  .formActions .submitForm {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 0;
    width: 100%;
    padding: 1.875rem;
    z-index: 1;
  }
}

.socialLoginIcons {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialLoginIcons li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.socialLoginIcons li:not(:last-child) {
  margin-right: .7rem;
}

.socialLoginIcons li a:hover {
  -webkit-box-shadow: 0px 0px 11px #d4d1d1;
  box-shadow: 0px 0px 11px #d4d1d1;
}

.loginSecItmForm {
  padding: 1rem 0 0;
  width: 100%;
}

@media (min-width: 1400px) {
  .loginSecItmForm {
    padding: 2.5rem 0 0;
  }
}

@media (max-width: 1400px) {
  .loginSecItmForm .checkBox {
    font-size: .8rem;
  }
}

.loginSecItmNav {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--border-1);
  width: 100%;
}

.loginSecItmNav li:not(:last-child) {
  margin-right: 1.875rem;
}

.loginSecItmNav li a {
  padding: 0 0 0.6875rem;
  color: var(--baseText);
  position: relative;
}

.loginSecItmNav li a:after {
  content: "";
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  width: 0;
  margin: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.loginSecItmNav li a.active {
  color: var(--primary-2);
  font-weight: 700 !important;
}

.loginSecItmNav li a.active:after {
  background-color: var(--primary-2);
  width: 100%;
}

.formInfo {
  position: relative;
}

.formInfo .formInfoDiv {
  display: none;
  min-width: 300px;
  padding: 1.2rem 1rem;
  border: 1px solid var(--border-1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -3px 8px 60px rgba(0, 0, 0, 0.07);
          box-shadow: -3px 8px 60px rgba(0, 0, 0, 0.07);
  border-radius: 0.3125rem;
  background-color: #ffffff;
  position: absolute;
  left: -1rem;
  bottom: calc(100% + 15px);
  z-index: 1;
}

.formInfo .formInfoDiv:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--white);
  position: absolute;
  bottom: -9px;
}

.formInfo:hover .formInfoDiv {
  display: block;
}

.formInfo:hover button svg path {
  fill: var(--primary-1);
}

.companyAttachFile {
  position: absolute;
  right: 0;
  left: auto !important;
  top: 0.5rem !important;
  padding: 1rem 0;
  width: auto !important;
  z-index: 1;
}

.loginCompanyStep {
  display: none;
}

.loginCompanyStep.active {
  display: block;
}

.loginSecItmContent-plane {
  padding: 3rem 0;
}

.loginSecItmContent-plane ul.trouble-signin li {
  width: 100%;
  padding: 15px 0px;
}

.loginSecItmContent-plane ul.trouble-signin li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 20px;
  border-radius: 12px;
}

.loginSecItmContent-plane ul.trouble-signin li a svg.t-icon {
  margin-top: 20px;
}

.loginSecItmContent-plane ul.trouble-signin li a span {
  display: block;
  padding: 0px 15px;
  max-width: 370px;
}

.loginSecItmContent-plane ul.trouble-signin li a span b {
  display: block;
}

.loginSecItmContent-plane ul.trouble-signin li a .right-crret {
  position: absolute;
  right: 20px;
  top: 40%;
}

.loginSecItmContent-plane ul.trouble-signin li a:hover {
  background-color: var(--gray-7);
}

.loginSecItmContent-plane ul.trouble-signin li a:hover .right-crret path {
  fill: var(--gray-1);
}

.loginSecItmContent-plane ul.trouble-signin li a:hover svg.t-icon path {
  fill: var(--gray-1);
}

.loginSecItmContent-plane ul.trouble-signin li:not(:last-child) {
  border-bottom: 1px solid #DCDCDC;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn {
  color: #ffffff;
  padding: 1.1rem 3rem;
  font-size: 0.78rem;
  border-radius: 100px;
  line-height: 1em;
  font-weight: 600 !important;
  font-family: "Poppins", sans-serif;
}

.btn:hover, .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 767px) {
  .btn {
    padding: 0.775rem 1.3rem;
    font-size: 0.8777rem;
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary {
  background-color: var(--primary-1);
}

.btn-primary:hover, .btn-primary:focus {
  background-color: var(--primary-1);
}

.btn-icon svg,
.btn-icon img {
  margin-right: 10px;
}

@media (max-width: 767px) {
  .btn-icon svg,
  .btn-icon img {
    margin-right: 4px;
  }
}

.btn-icon:hover path {
  fill: #ffffff;
}

.btn-white {
  background-color: #ffffff;
  color: var(--primary-3) !important;
}

.btn-white:hover, .btn-white:focus {
  color: var(--primary-1) !important;
}

.btn-danger {
  background-color: var(--primary-3);
  border-color: var(--primary-3);
}

.btn-danger:hover, .btn-danger:focus {
  background-color: var(--primary-3);
  border-color: var(--primary-3);
}

.btn-success {
  background-color: var(--primary-2);
  border-color: var(--primary-2);
}

.btn-success:hover, .btn-success:focus {
  border-color: var(--primary-2);
  background-color: var(--primary-2);
}

.btn-light {
  background-color: #ffffff;
  border-radius: 5px;
  border-color: var(--border-2);
  font-weight: 200 !important;
  color: #404243;
}

.btn-light:hover, .btn-light:focus {
  background-color: var(--primary-1);
  color: #ffffff;
}

.btn-dark {
  background-color: var(--primary-2);
}

.btn-dark:hover, .btn-dark:focus {
  background-color: var(--primary-2);
}

.btn-info {
  background-color: var(--primary-2);
}

.btn-info:hover, .btn-info:focus {
  background-color: var(--primary-2);
}

.btn-link {
  background-color: var(--primary-2);
}

.btn-link:hover, .btn-link:focus {
  background-color: var(--primary-2);
}

.btn-primary {
  background-color: var(--primary-1);
  border-color: var(--primary-1);
}

.btn-primary:hover, .btn-primary:focus {
  background-color: var(--primary-1);
}

.btn-secondary {
  background-color: var(--primary-4);
  border-color: var(--primary-4);
}

.btn-secondary:hover, .btn-secondary:focus {
  background-color: var(--primary-1);
}

.btn-round-6 {
  border-radius: 6px;
}

.btn-round {
  background-color: var(--primary-2);
  padding: 9px !important;
  border-radius: 50px !important;
}

.btn-round:hover, .btn-round:focus {
  background-color: var(--primary-2);
}

.btn-outline-dark {
  border-color: var(--primary-1);
  color: var(--primary-1);
}

.btn-outline-dark svg path {
  fill: var(--primary-1);
}

.btn-outline-dark:hover, .btn-outline-dark:focus {
  background-color: var(--primary-1);
  color: var(--white);
}

.btn-outline-dark:hover svg path, .btn-outline-dark:focus svg path {
  fill: var(--white);
}

.btn-outline-gray-radius {
  border-color: var(--gray-4);
  color: var(--primary-1);
  border-radius: 6px;
  padding: 10px 18px;
  font-size: 13px;
}

.btn-outline-gray-radius svg path {
  fill: var(--primary-1);
}

.btn-outline-gray-radius:hover, .btn-outline-gray-radius:focus {
  background-color: var(--primary-4);
  border-color: var(--primary-4);
  color: #ffffff !important;
}

.btn-outline-gray-radius:hover svg path, .btn-outline-gray-radius:focus svg path {
  fill: var(--white);
}

.btn-outline-gray {
  border-color: var(--gray-4);
  background-color: var(--gray-5);
}

.btn-outline-gray:hover, .btn-outline-gray:focus {
  background-color: var(--gray-5);
}

.btn-account {
  padding: 0.575rem 1.5rem;
}

.btn-account-alert {
  background-color: var(--secondary-18);
  color: var(--white);
}

.btn-account-alert:hover {
  color: var(--white);
}

.btn-sm {
  padding: 0.4375rem 0.875rem;
  font-size: 0.75rem;
}

.btn-sm-icon svg,
.btn-sm-icon img {
  margin-right: 0.4375rem;
}

@media (max-width: 767px) {
  .btn-sm-icon svg,
  .btn-sm-icon img {
    margin-right: 0.25rem;
  }
}

.checkBox {
  margin: 0;
  position: relative;
  padding-left: 1.75rem;
  cursor: pointer;
}

.checkBox .checkBoxCheck {
  width: 1.125rem;
  height: 1.125rem;
  border: 1px solid var(--border-2);
  background-color: var(--border-1);
  border-radius: 0.3125rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.checkBox input {
  display: none;
}

.checkBox input:checked + .checkBoxCheck {
  border-color: var(--primary-2);
  background-color: #443EAF;
  background-image: url(../images/checkbox.png);
}

.checkBox a {
  color: inherit;
  font-weight: 700 !important;
}

.checkBox a:hover {
  color: #483D8F;
}

.radioBox {
  margin: 0;
  position: relative;
  padding-left: 1.75rem;
  cursor: pointer;
}

.radioBox .radioBoxCheck {
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid var(--gray-3);
  background-color: var(--white);
  border-radius: 0.3125rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.radioBox .radioBoxCheck:after {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  right: 0.25rem;
  bottom: 0.25rem;
  background-color: var(--gray-3);
  border-radius: 50%;
}

.radioBox input {
  display: none;
}

.radioBox input:checked + .radioBoxCheck {
  border-color: var(--primary-2);
}

.radioBox input:checked + .radioBoxCheck:after {
  background-color: #443EAF;
}

.radioBox a {
  color: inherit;
  font-weight: 700 !important;
}

.radioBox a:hover {
  color: #483D8F;
}

.btnSwitch {
  margin: 0;
  position: relative;
  cursor: pointer;
}

.btnSwitch .btnSwitchCheck {
  width: 2.3125rem;
  height: 1.5rem;
  border-radius: 5rem;
  background-color: var(--border-2);
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btnSwitch .btnSwitchCheck:after {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  background-color: var(--border-1);
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btnSwitch .btnSwitchText {
  margin-left: 1.25rem;
}

.btnSwitch input {
  display: none;
}

.btnSwitch input:checked + .btnSwitchCheck {
  background-color: var(--primary-2);
}

.btnSwitch input:checked + .btnSwitchCheck:after {
  left: 0.875rem;
  background-color: var(--white);
  -webkit-box-shadow: -3px 0px 7px rgba(0, 0, 0, 0.25);
          box-shadow: -3px 0px 7px rgba(0, 0, 0, 0.25);
}
/*# sourceMappingURL=style.css.map */