.breadcrumb-tabs{
    li{
        padding: 8px 14px;
        position: relative;
        .nav-link {
            padding: 10px;
            font-size: 12px;
            color:  var(--gray-2);
            position: relative;
            &.active{
                color:  var(--primary-4);
                font-weight: $font600;
                &:after{
                    content: "";
                    position: absolute;
                    width: 27px;
                    height: 2px;
                    background-color: var(--primary-4);
                    left: 10px;
                    bottom: -8px;
                }
            }
        }
    }
}

.back_cta{
    display: inline-block; width: 24px; height: 24px; text-align: left; line-height:24px;
    a{
        display: inline-block; width:100%; height:100%;
    }
}
.content_area{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.static_lable.formItm {

    label{
        position:static;
        font-weight: 400;
        font-size: 16px;
        .counts{
            width: 20px;
            margin-left: -20px;
            display: inline-block;
        }
    }
    input,select{
        padding: 0.7em 0 0.7em;
    }

}
.static_lable.order_list{
    margin-left:20px
}
.more_info{
    font-size: 13px;
    font-weight: 600;
    color: #7A7A7A;
}


.radio_select_wrapp{
    display:inline-flex;
    padding: 0.6rem 0;
    
    .radio_select{
        margin-right: 0.75rem;
    .radio_caption{
        display:inline-flex; align-items: center; justify-content:center;
        cursor: pointer;
        min-width:77px; height:34px;  padding:0.4rem;
        background: #FFFFFF;
border: 1px solid #DCDCDC;
border-radius: 6px;
font-size: 12px;
color:#404243;
transition:all ease 0.2s;
white-space: nowrap;
    }
    .radio_input_element {
        display: none;
    }
    .radio_input_element:checked + .radio_caption {
        border-color:#483D8F;
        background-color:#483D8F;
        color:#FFFFFF
   }

   .radio_caption:hover{
    border-color:#483D8F;
}
    

}
}

.process_tabs{
    .tab{
        display:inline-flex;
        align-items: center;
        margin-right: 2.6rem;
        position: relative;
      

        .icon{
           width:25px; height:25px; line-height: 25px; text-align: center;
           display:inline-flex;
        align-items: center;
        justify-content: center;
        img{
            max-width:100%;
        }
         }
         .caption{
            display: inline-block;
            font-size:16px;
            color:#7A7A7A;
            padding: 0 0.3rem;;
            
         }  
    }
    .tab:after{
        content: '';
        position: absolute;
        left: calc(100% + 0.5rem);
        height:2px;
        width: 1.5rem;
        background-color: #483D8F;
    }
    .tab:last-child:after{
        display:none
    }
    .tab.next_process{
        opacity: 0.5;
        .icon img{
            mix-blend-mode: luminosity;
        }
       
    }
   
}
.form-switch.toggle_switch {
    padding: 0;
    vertical-align:middle;
    label.form-check-label {
        float: left;
        font-size: 12px;
        color: var(--gray-6);
        margin-top: 4px;
        &.active{
            color: var(--gray-1);
        }
    }
    input {
        float: left !important;
        position: inherit !important;
        padding: 13px 20px;
        background-color: var(--primary-1);
        border: none;
        margin: 0;
        background-size: 31px;
        background-position: center left -2px;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
        &:checked{
            background-position: center right -2px;
            &+label { color: var(--gray-1) !important; }
        }
        &:focus {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
            box-shadow: none;
           
        }
    }
}

.check_toggle_content{
    
    .check_content{
        padding:0.14rem 16px;
    }

}



